@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Open+Sans:wght@300;500;700&family=Poppins:ital,wght@0,200;0,400;0,600;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');

html,body{
    height: 100%;
    width: 100%;
font-family: 'Roboto', sans-serif;
background-color: black;
}

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    background-color: rgba(255, 255, 0, 0.681);
    cursor: pointer;
}

.container{
    background-color: black;
    
}

.row{
    margin: 8px 0;
}

.row input{
    
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    
}